{% extends 'pharmacy/base.html' %}

{% block content %}
<h1>Suppliers</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.supplier_id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.contact }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

